@page "/"
@inject IConfiguration Configuration

<PageTitle>Welcome to CPRG-305</PageTitle>

<h1>@welcomeMessage</h1>


@code{
    
    private string welcomeMessage = "Let's test out deployments!";
    
     protected override async Task OnInitializedAsync()
    {
        int p = int.Parse(Configuration["newLabel-Percent"]);
        int rnd = new Random().Next(0, 99);
        if (rnd < p)
        {
            welcomeMessage = "Welcome to CPRG-305!";
        }
        else
        {
            welcomeMessage = "Welcome back!";
        }

    }
}    
